<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <title>Login</title>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background: linear-gradient(to right, #000000, gray);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .menu-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 180px;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        .menu-box:hover {
            background-color: #e9ecef;
            cursor: pointer;
        }


    </style>
</head>

<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="menu-box">Menu Item 1</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 2</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 3</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 4</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 5</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 6</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 7</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 8</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 9</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 10</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 11</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 12</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 13</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 14</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 15</div>
            </div>
            <div class="col-md-3">
                <div class="menu-box">Menu Item 16</div>
            </div>
        </div>
    </div>
</body>
</html>