@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        background: linear-gradient(to right, #000000, gray);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
</style>

<div class="text-center" style="text-align: center; padding-top:10px;">
    <h1 class="display-4">Welcome To UTR</h1>
</div>
