<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <title>Login</title>
    <body>
        <div class="login-container">
            <img style="border-radius: 10px;" src="logo.ico" alt="Logo">
            <h1>Login</h1>
            <form id="Form1" action="login.php" method="post">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>

</html>