@{
    ViewBag.HideFooter = true;
}

@{
    ViewData["Title"] = "Payment Successful";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .success-container {
            margin: 35px auto;
            max-width: 600px;
            background-color: #fff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.7);
            text-align: center;
        }

            .success-container h2 {
                color: green;
                margin-bottom: 20px;
            }

            .success-container img {
                width: 100px;
                height: auto;
                margin-bottom: 20px;
            }

        .btn-primary {
            background-color: #5a6268;
            border: none;
            padding: 10px;
            font-size: 16px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="success-container">
            <h2>Payment Successful!</h2>
            <img src="~/Success.png" alt="Success" />
            <p>Your payment has been processed successfully.</p>

            <a href="/Home/ViewInvoice" class="btn btn-primary">View Invoice</a>
        </div>
    </div>

    <script>
        
        document.getElementById('viewInvoiceBtn').addEventListener('click', function () {
           
            window.location.href = '/Home/ViewInvoice';
        });
    </script>
</body>
</html>