@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        background: linear-gradient(to right, #000000, gray);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
</style>

<h1 style="text-align: center; padding-top:10px;">@ViewData["Title"]</h1>

<br/>

<p style="text-align: center;">Use this page to detail your site's privacy policy.</p>
